:root{
    --orange: #ffa64d;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}

body{
    overflow-x: hidden;
}

#header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
}

.bars, .wrong{
    display: none;
    z-index: 10000;
}

.fa-bars, .fa-times{
    font-size: 2rem;
    color: var(--orange);
    cursor: pointer;
}

.logo i{
    height: 5rem;
    color: var(--orange);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav ul li{
    margin-right: 4rem;
}

nav ul li a{
    color:#ffff;
    font-size: 1rem;
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--orange);
}

.fa-pizza-slice{
    font-size: 3rem;
}

.header-active{
    background: #333;
    height: 6rem;
    box-shadow: .2rem 0 .5rem #000;
}

.header-active nav ul{
    margin: 0;
}

/* Inicio: */
#inicio{
    background: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0,.6));
    position: relative;
}

.content h1{
    font-size: 3.5rem;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: var(--orange);
}

.content h2{
    font-size: 2.5rem;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: #fff;
    margin: 1rem 0;
}

.content p{
    font-size: 1rem;
    color: #cccccc;
}

button{
    width: 14rem;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    background: #fff;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    background: var(--orange);
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1;
}

button:hover::before{
    width: 100%;
}

.video-container{
    position: absolute;
    top: 0; left: -12px;
    height: 100vh;
    width: 100%;
    z-index:-1;
}

.video-container .vid{
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: none;
}

.video-container .vid1{
    display: block;
}

/* Especiales: */
#especiales{
    background: #000;
    min-height: 100vh;
}

.heading h1{
    font-size: 4rem;
    color: #fff;
    padding-top: 7rem;
    margin-bottom: 2rem;
}

.heading h1 span{
    color: var(--orange);
}

.heading p{
    color: #ccc;
    font-size: 2rem;
}

.card-container{
    width: 95%;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    height: 40rem;
    width: 30rem;
    background:#f5f5f5;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}

.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.card p{
    font-size: 1.4rem;
    margin: 2rem 0;
}

.card:hover{
    transform: scale(0.9);
}

/* Sobre nosotros: */
#sobreNosotros .heading h1{
    color: var(--orange);
}

#sobreNosotros .heading h1 span{
    color: #000;
}

#sobreNosotros .content{
    margin: 5rem auto;
}

#sobreNosotros .content p{
    font-size: 1.5rem;
}

#sobreNosotros .content button{
    height: 4rem;
    width: 14rem;
    background: #333;
    color: #fff;
    text-align: center;
}

#sobreNosotros .content button:hover{
    color: #333333;
}

/* Platillos: */
#platillos{
    min-height: 100vh;
    width: 100vw;
}

#platillos .heading h1{
    color: #000;
}

#platillos .heading span{
    color: var(--orange);
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}

.box-container .box{
    height: 20rem;
    width: 25rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 .5rem #333;
    margin: 2rem;
}

.box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-container .info{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51,51,51, .6);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #fff;
    transform: scale(0);
}

.box-container .info h3{
    font-size: 2rem;
}

.box-container .info p{
    font-size: 1rem;
    border-bottom: .2rem double var(--orange);
    border-top: .2rem dotted var(--orange);
    margin: 1rem 2rem;
}

.box-container .box:hover .info{
    transform: scale(1);
}

/* Contacto: */
#contacto{
    min-height: 100vh;
    width: 100vw;
    background: url("../imagenes/fondocontacto.jpg");
    background-size: cover;
    background-position: center;
}

#contacto .row{
    margin:auto;
}

#contacto form{
    background: #fff;
    padding-top: 2rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 2rem #333;
    box-shadow: 0 0 2rem #333;
}

#contacto form .inputBox{
    position: relative;
    text-align: center;
}

#contacto form .inputBox input, textarea {
    outline: none;
    border: .1rem solid #333;
    border-radius: .2rem;
    margin: 2rem 0;
    padding: 0 1rem;
    background: none;
    height: 3rem;
    width: 90%;
    font-size: .5rem;
}

#contacto form .inputBox input:focus ~ h3,
#contacto form .inputBox input:valid ~ h3, 
#contacto form .inputBox textarea:focus ~ h3,
#contacto form .inputBox textarea:valid ~ h3 {
    font-size: 1rem;
    left: 6%;
    top: -.5rem;
    color: var(--orange);
}

.inputBox textarea{
    padding: 1rem;
    resize: none;
    height: 20rem;
}

.inputBox h3{
    position: absolute;
    top: 3rem; left: 7%;
    font-size: 1rem;
}

form input[type="submit"]{
    height: 3rem;
    width: 9rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    border: none;
    border-radius: 2rem;
    background: #333;
    color: #fff;
}

form input[type="submit"]:hover{
    color: #333;
    background: var(--orange);
}

/* Footer: */
#footer{
    background: #333;
}

.brand{
    text-align: center;
    margin-top: 2rem;
}

.brand a .logo img{
    height: 4rem;
}

.icons a{
    font-size: 2rem;
    margin: 2rem 1rem;
    color: #fff;
}

.icons a:hover{
    color: var(--orange);
}

.footer-links{
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}

.footer-links h3{
    font-size: 2.2rem;
    color: var(--orange);
}

.footer-links a{
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
}

.letter h2{
    font-size: 2rem;
    margin: 2rem 0;
    color: #fff;
}

.letter input[type="text"]{
    border: .1rem groove #fff;
    outline: none;
    background:none;
    height: 2.5rem;
    width: 18rem;
    padding: 0 1rem;
    font-size: 1rem;
    color: #fff;
}

.letter input[type="submit"]{
    height: 2.5rem;
    width: 10rem;
    margin: 1rem 0;
    border-radius: 2rem;
    background: #333;
    color: #fff;
}

.letter input[type="submit"]:hover{
    color: #333;
    background: var(--orange);
}

.fa-times{
    -webkit-transform: skew(-180deg) rotate(180deg);
    transform: skew(-180deg) rotate(-180deg);
}

@media screen and (max-width: 768px){
    html{
        font-size: 50%;
    }

    .bars, .wrong{
        display: block;
    }

    nav{
        position: fixed;
        top: 0; left: -120%;
        height: 100vh;
        width: 35rem;
        background: #000;
    }

    nav ul{
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }

    nav ul li{
        margin: 2rem 0;
    }

    nav ul li a{
        font-size: 2.5rem;
        border-radius: 5rem;
    }

    nav ul li a:hover{
        padding: .5rem 7.5rem;
        color: #333333;
        background: var(--orange);
    }

    .nav-toggle{
        left: 0;
    }
}